.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding: 2rem 1rem 0;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .header__title {
    margin-bottom: 0;
    font-size: rem(36px);
    font-weight: 400;
  }

  .header__subtitle {
    font-size: rem(24px);
  }

  .header__slogan {
    margin-bottom: rem(4px);
    font-weight: 600;
    letter-spacing: rem(6px);
  }

  .header__social-links {
    @media screen and (max-width: 768px) {
      margin-top: auto;
      background-color: #0a1a1a50;
    }

    .social-links__wrapper {
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }

    .social-links__icon {
      color: #0a1a1a50;

      &:hover {
        color: #0a1a10;
      }

      @media screen and (max-width: 768px) {
        color: #f2f2f2;
      }

      @media screen and (min-width: 769px) {
        &:first-of-type {
          margin-left: 0;
        }
      }


    }
  }

  .header__photo {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: -1;

    @media screen and (min-width: 769px) {
      width: 80%;
      left: 10%;
    }
  }
}
