.header {
  position: relative;
  height: 100vh;
  padding: 2rem 1rem 0;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .header__title {
    font-size: rem(36px);
  }

  .header__subtitle {
    font-size: rem(24px);
  }

  .header__photo {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: -1;
  }
}
